# sline top/Kconfig
mainmenu "config"

config ROOT_PATH
    string
    default "../../"
    
config PRO_PATH
    string 
    default "./"

menu "User config"


	config PRO_NAME
        string "Input project name"
        default "lr_project" 
endmenu



