# Author: zhuxuanlin
# Email: xuanlinzhu@qq.com
# Date: 2026-5-26
# Version: 3.0.0

mainmenu "CK TOOLS CONFIG"
# ==================================================
# CK-TOOLS工具配置
# ==================================================
# CK_TOOL_CONFIG_START
# 配置ck_tools的路径
CK_TOOLS_ROOT = ../../..
# 配置工作区路径
CK_WORKSPACE_ROOT = ../..
# 项目类型目前支持[STANDARD STM32CUBEMX]
CK_PROJECT_TYPE = STM32CUBEMX
# python ck_tools的构建命令
CK_CMD_CONFIGURE = cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=cmake/gcc-arm-none-eabi.cmake
# python ck_tools的编译命令
CK_CMD_BUILD = cmake --build build -j4
# python ck_tools的清理命令
CK_CMD_CLEAN = cmake --build build --target clean
# CK_TOOL_CONFIG_END

#导出变量给Cmake、python使用
config CK_TOOLS_ROOT
    string
    default "$(CK_TOOLS_ROOT)"
    
config CK_WORKSPACE_ROOT
    string 
    default "$(CK_WORKSPACE_ROOT)"

config CK_PROJECT_TYPE
    string 
    default "$(CK_PROJECT_TYPE)"

config CK_CMD_CONFIGURE
    string
    default "$(CK_CMD_CONFIGURE)"

config CK_CMD_BUILD
    string
    default "$(CK_CMD_BUILD)"

config CK_CMD_CLEAN
    string
    default "$(CK_CMD_CLEAN)"

# 引入工具链管理,STM32项目默认使用cubeMX生成的工具链配置
if CK_PROJECT_TYPE = "STANDARD"
source "$(CK_TOOLS_ROOT)/ck_tools/Kconfig.toolchain"
endif

# ==================================================
# 用户配置
# ==================================================
menu "project config"
# 决定生成文件的名字
config PRO_NAME
    string "project name"
    default "ck_project" 

# 自动版本信息
config CK_VERSION_ENABLE
    bool "enable ck-version function"
    default n
    
# 是否启用单元测试功能
config CK_TEST_UNIT
    bool "enable test unit function"
    default n
endmenu

# ==================================================
# 用户配置 按需求增加,写在注释内 才能被自动扫描
# ==================================================
# 引入的外部模块配置
# CK_TOOL_EXTERNAL_START
source "$(CK_WORKSPACE_ROOT)/package/Kconfig"

# CK_TOOL_EXTERNAL_END
