# sline top/Kconfig
mainmenu "ck_template"

# 引入其他路径的Kconfig文件
source "../../source/Kconfig"
# 创建用户程序相关的配置菜单
menu "User config"
    choice 
        prompt "choose env"
        default WIN11

        config CK_WIN7
            bool "windows7"

        config CK_WIN10
            bool "windows10"

        config CK_WIN11
            bool "windows11"
    endchoice



    config CK_STRING
        string "CK_STRING"
        default "string"
     
        
    menuconfig CK_MENUCONFIG
        bool "menuconfig example"
        default y

    if CK_MENUCONFIG

    config CK_MENUCONFIG1
        int  "CK_MENUCONFIG1"
        default 32

    config CK_MENUCONFIG2
        int  "CK_MENUCONFIG2"
        default 64

    endif
endmenu



